:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --secondary-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --address-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Ссылки */
a {
  text-decoration: none;
}

/* Списки */
.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid blue;
}

/* Лого */
.logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo.foot {
  color: var(--white-color);
}

.half-logo {
  color: var(--accent-color);
}

/* Страницы сайта */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.link.current {
  color: var(--accent-color);
}

/* Ссылки на почту и телефон */
.adr-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.adr-nav .link:hover,
.adr-nav .link:focus {
  color: var(--accent-color);
}

/* Герой */
.hero-section {
  margin-bottom: 94px;

  background-color: var(--secondary-bg-color);
  text-align: center;
}

.hero-section .title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero-section .link {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Наши возможности */
.can-section {
  margin-bottom: 94px;
}

.can-section .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.15;
}

.can-section .paragraph {
  margin: 0;

  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 1.71;
}

/* Чем мы занимаемся */
.work-section,
.team-section {
  margin-bottom: 94px;
  text-align: center;
}

.work-section .title,
.team-section .title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Наша команда */
.team .title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .paragraph {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* Подвал */
.footer {
  background-color: var(--secondary-bg-color);
}

.foot-element {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 60px;
}

.address {
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.address .paragraph {
  margin-top: 20px;
  margin-bottom: 9px;
}

.address .link {
  color: var(--address-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/* Страница "Портфолио" */
.portfolio.container {
  margin-top: 94;
  margin-bottom: 94px;
}

/* Кнопки */
.btn {
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--button-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.btn:hover,
.btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.project.container {
  margin-top: 94px;
  margin-bottom: 94px;
}

.project > .list {
  margin-bottom: 50px;
}

/* карточки */
.project .title {
  margin-top: 20px;
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06;
}

.project .paragraph {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
