:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --secondary-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --address-color: rgba(255, 255, 255, 0.6);
  --header-border: #ececec;
  --portfolio-card: #eeeeee;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}

/* Хедер */
.page-header {
  border-bottom: 1px solid var(--header-border);
}

.page-cont,
.page-nav {
  display: flex;
  align-items: center;
}

.page-cont {
  justify-content: space-between;
}

/* Лого */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
}

.logo.foot {
  color: var(--white-color);
}

.half-logo {
  color: var(--accent-color);
}

/* Страницы сайта */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav .link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.link.current {
  color: var(--accent-color);
}

/* Ссылки на почту и телефон */
.adr-nav {
  display: flex;
}

.adr-nav .item + .item {
  margin-left: 50px;
}

.adr-nav .link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.adr-nav .link:hover,
.adr-nav .link:focus {
  color: var(--accent-color);
}

/* Герой */
.hero-section {
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.hero-section .title {
  margin-top: 0;
  margin-bottom: 35px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero-section .link {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Наши возможности */
.can-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.can-section .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.15;
}

.can-section .paragraph {
  margin: 0;
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 1.71;
}

.can {
  display: flex;
}

.can .item {
  width: 270px;
}

.can .item + .item {
  margin-left: 30px;
}

/* Чем мы занимаемся */
.work-section {
  padding-bottom: 94px;
}

.work-section .title,
.team-section .title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work {
  display: flex;
  justify-content: space-between;
}

.work .item + .item {
  margin-left: 30px;
}

/* Наша команда */
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-bg-color);
}

.team .title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .paragraph {
  margin: 0;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team {
  display: flex;
}

.team .item {
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team .item + .item {
  margin-left: 30px;
}

/* Подвал */
.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.address p {
  margin-top: 20px;
  margin-bottom: 9px;
}

.address .link {
  color: var(--address-color);
}

.adr-link {
  margin-bottom: 9px;
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/* Страница "Портфолио" */
.project-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Кнопки */
.btn {
  padding: 6px 22px;
  border-radius: 4px;

  color: var(--primary-text-color);
  background-color: var(--button-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.btn:hover,
.btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.radio-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.radio-btn .item + .item {
  margin-left: 8px;
}

/* карточки */
.project .title {
  margin: 20px 24px 4px 24px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .paragraph {
  margin: 0 24px 20px 24px;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.project {
  display: flex;
  flex-wrap: wrap;
}

.project .item {
  /* padding-bottom: 20px; */
  border: 1px solid var(--portfolio-card);
  width: 370px;
}

.project .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

/* 2-й вариант сетки
.project .item {
  padding-bottom: 20px;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.project .item:nth-child(3n) {
  margin-right: 0;
}

.project .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
